.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #3c52e6;
}