.orange-btn{
    padding: 20px;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    width: 100%;
    text-align: center;
    background: var(--orange-juice);
    border-radius: 20px;
}

.orange-btn:hover{
    background: #ff9832;
}

.orange-btn:active{
    background: #cd3400;
}

.orange-btn[disabled]{
    background: var(--grey2);
}
