.feedback__stiker {
    position: absolute;
    user-select: none;
    z-index: -1;
}

.feedback__stiker--devil {
    left: -104px;
    top: -36px;
}

.feedback__stiker--evil {
    left: 371px;
    top: -30px;
}

.feedback__comment{
    position: relative;
    background: inherit;
    border-radius: inherit;
}

.feedback__text {
    margin: 0;
    padding: 32px 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.7);
}

.feedback .feedback__icon {
    position: absolute;
    right: -17px;
    bottom: 0px;
}

.feedback .feedback__icon--mirror {
    transform: scaleX(-1);
    left: -17px;
}

.feedback__form {
    position: relative;
}