*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
	color: #090909;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

button {
  padding: 0;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

a {
  font: inherit;
  color: #090909;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

