.btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  background: #f3f3f3;  
  color: #ad8361;
  border: 1px solid #ad8361;
  outline: none;
}

.btn--filter {
  padding: 11px;
  border-radius: 60px;
}

.btn:hover,
.btn:focus-visible {
  color: #fff;
  background: #ad8361;
}

.btn[disabled] {
  color: rgba(173, 131, 97, 0.5);
  background: rgba(243, 243, 243, 0.5);
  border-color: rgba(173, 131, 97, 0.5);
  cursor: not-allowed;
}