.custom-checkbox {
	display: flex;
	max-width: 700px;
	user-select: none;
}

.custom-checkbox__field[disabled] + .custom-checkbox__label {
	cursor: not-allowed;
}

.custom-checkbox__field[disabled] + .custom-checkbox__label .custom-checkbox__text{
	color: rgba(9, 9, 9, 0.5);
	cursor: not-allowed;
}

.custom-checkbox__field[disabled] + .custom-checkbox__label::before{
	border-color: rgba(173, 131, 97, 0.5);
}

.custom-checkbox__label {
	position: relative;
	padding: 0 0 0 24px;
	color: #090909;
	font-size: 0;
}

.custom-checkbox__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 117%;
	letter-spacing: -0.04em;
	color: inherit;
}

.custom-checkbox__label::before {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	left: 0;
	top: 50%;
  transform: translateY(-50%);
	transition: all .3s ease-in-out;
	border: 1px solid #ad8361;
}

.custom-checkbox__label::after {
	position: absolute;
	content: "";
	width: 6px;
	height: 6px;
	left: 4px;
	background: #ad8361;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s ease-in-out;
	opacity: 0;
}

.custom-checkbox__label:hover,
.custom-checkbox__field:focus-visible + .custom-checkbox__label .custom-checkbox__text {
	color: #ad8361;
}

.custom-checkbox__field:checked + .custom-checkbox__label::before {
	transition: all .3s ease-in-out;
}

.custom-checkbox__field:checked + .custom-checkbox__label::after {
	opacity: 1;
}
