.card {
    padding: 30px;
    border-radius: 20px;
    background: #f2f3ee;
}

.card__title {
    margin: 0 0 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    color: #1d252d;
}

.card__name {
    display: block;
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1d252d;
}

.card__inner {
    display: flex;
    gap: 30px;
}

.card__photo {
    border-radius: 12px;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__quote {
    margin: 0;
    padding: 0;
}

.card__phrase {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 137%;
    color: #1d252d;
}

.card__experience {
    display: block;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    text-align: right;
    color: #1d252d;
}

.card__links-inner {
    display: flex;
    gap: 45px;
    justify-content: flex-end;
    align-items: center;
}

.card__link {
    
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #1d252d;
}

.card__link--accent {
    display: block;
    padding: 7px;
    width: 140px;
    border-radius: 40px;
    background: #d6d2c4;
}

.card--center .card__phrase,
.card--center .card__experience {
    text-align: center;
}