.btn{display: block;
    padding: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    border-radius: 60px;
}

.btn--more{
    border: 1px solid #9e5fc4;
    width: 100%;
    color: #9e5fc4;
}

.btn--background{
    width: 165px;
    color: #fff;
    background: #9e5fc4;
}