.gallery__wraper {
    margin-bottom: 80px;
    display: flex;
    gap: 20px;
}

.gallery__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gallery__list {
    display: grid;
    grid-template-columns: 365px 115px 105px 240px;
    gap: 20px;
}

.gallery__item {
    grid-column: span 1;
    grid-row: span 1;
}

.gallery__item--two-columns {
    grid-column: span 2;
}

.gallery__item--three-columns {
    grid-column: span 3;
}

.gallery__item--four-columns {
    grid-column: span 4;
}

.gallery__item--two-rows {
    grid-row: span 2;
}

.gallery__item--three-rows {
    grid-row: span 3;
}