.header {
    background: linear-gradient(180deg, #6e48db 0%, #9e5fc4 100%);
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
}

.header__top {
    padding: 15px 0 14px;
    display: grid;
    grid-template-columns: 1fr 140px 1fr;
    border-bottom: 1px solid #fff;
}

.header__info-panel {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__link {
    color: #fff;
}

.header__link-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__user-panel {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.header__panel-list {
    display: flex;
    gap: 37px;
}

.header__item-panel {
    display: flex;
    align-items: center;
}

.header__link-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.header__city {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.header__menu-button {
    display: flex;
    flex-direction: column;
}