.info-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.info-nav__list {
    display: flex;
    flex-direction: column;
}

.info-nav__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
}